# .env.example

# Django settings
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database configuration
database_name=your_database_name
database_user=your_database_user
database_password=your_database_password
database_host=localhost
database_port=5432

# CORS settings
CORS_ALLOWED_ORIGINS=http://localhost:8000
CORS_ALLOW_CREDENTIALS=True

# API settings
API_URL=http://localhost:8000/api
API_KEY=your_api_key

# Email configuration
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.your_email_provider.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_password

# JWT settings
JWT_SECRET_KEY=your_jwt_secret_key
JWT_ALGORITHM=HS256
JWT_EXPIRATION_DELTA=60 # In minutes